<div>
  <div class='device-list'>
    {{#each}}
      <div {{action 'toggle' this}} class='btn1'>
        <span class='value icon-bulp on'>
        {{#if on}}
          on
        {{else}}
          off
        {{/if}}
        </span>
        {{label}}
      </div>
    {{/each}}
  </div>
</div>
