<div>
  <div class='device-list'>
    {{#each}}
      <div {{action 'toggle' this}} class='btn1'>
        <span class='value icon-bulp on'>
        {{#if on}}
          on
        {{else}}
          off
        {{/if}}
        </span>
        {{label}}
      </div>
      {{#if pwm_device}}
        <div class="btn1" style="text-align: center">
          {{input id="slider" value=value class="slider" type="range" min="1" max="100" step="1" }}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
