.device-list {
  max-width: 300px;
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-size: 0.8rem;
}

.btn1 {
  border-radius: 10px;
  width: 90%;
  background: linear-gradient(#87CEEB, #1E90FF) repeat scroll 0% 0% transparent;
  padding: 0.5rem;
  height: auto;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.btn1:active {
  background: blue;
}

.value {
  border-right: 1px solid white;
  padding: 0 0.5rem 0 0.5rem;
  margin-right: 1rem;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("http://fonts.gstatic.com/s/roboto/v14/2UX7WLTfW3W8TclTUvlFyQ.woff") format("woff");
}
